<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wolfsoft3.zing">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".KwikListActivity"/>
        <activity android:name=".Onboarding_1" />
        <activity android:name=".Onboarding_2" />
        <activity android:name=".OnBording_3" />
        <activity android:name=".SignUp_1" />
        <activity android:name=".SignUp_2" />
        <activity android:name=".Login" />
        <activity android:name=".Home_2" />
        <activity android:name=".Listing" />
        <activity android:name=".Location_Heatmap"/>
        <activity android:name=".HashTag" />
        <activity android:name=".Activity"/>
        <activity android:name=".Profile"/>
        <activity android:name=".Edit_Profile"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDFNnP_L1EQ2Sd4QHSRFH6gfn_XnwoSwFw" />
    </application>

</manifest>